*.sln
*.db
*.suo
*.vcxproj
*.filters
*.user
*.log
*.idb
*.pdb
*.ipch
*.tlog
*.ilk
*.obj
*.opendb
CMakeHelloWorld/build/cmake_install.cmake
CMakeHelloWorld/build/.vs/HelloWorld/v16/Solution.VC.db-shm
CMakeHelloWorld/build/.vs/HelloWorld/v16/Solution.VC.db-wal
*.depend
*.stamp
*.list
*.check_cache
*.cmake
*.bin
*.c
CMakeHelloWorld/build/CMakeFiles/3.15.3/CompilerIdC/CompilerIdC.exe
*.rule
*.exe
*.db-shm
*.db-wal
Assignment 3 - Google Test/build/CMakeFiles/3.15.3/VCTargetsPath.txt
Assignment 3 - Google Test/build/CMakeFiles/TargetDirectories.txt
Assignment 3 - Google Test/build/CMakeFiles/3.15.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
Assignment 3 - Google Test/build/googletest-download/CMakeCache.txt
Assignment 3 - Google Test/build/
Assignment 4 - Array Performance/build/
Assignment 5 - Type Ahead/build/
Assignment 6 - Conways Game of Life/build/
